<strong>Olá {{ organizer }}</strong>
<p>
  Houve uma nova inscrição para o seu meetup: {{ meetup }}. Confira os detalhes abaixo
</p>
<p>
  <strong>Participante: </strong> {{ user }} <br />
  <br>
  <small>
    Esperamos que o seu meetup seja incrível!
  </small>
</p>
